@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?4udz34');
  src:  url('../fonts/icomoon.eot?4udz34#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?4udz34') format('truetype'),
    url('../fonts/icomoon.woff?4udz34') format('woff'),
    url('../fonts/icomoon.svg?4udz34#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-stack:before {
  content: "\e901";
  color: #f39c12;
}
.icon-handset:before {
  content: "\e900";
  color: #f7f7f7;
}
.icon-bulb:before {
  content: "\e902";
}
.icon-apartment-building .path1:before {
  content: "\e903";
  color: rgb(0, 0, 0);
  opacity: 0.0156;
}
.icon-apartment-building .path2:before {
  content: "\e904";
  margin-left: -1.142578125em;
  color: rgb(97, 66, 97);
}
.icon-apartment-building .path3:before {
  content: "\e905";
  margin-left: -1.142578125em;
  color: rgb(255, 255, 255);
}
.icon-banknote:before {
  content: "\e906";
}
.icon-cup:before {
  content: "\e907";
  color: #fff;
}
.icon-film:before {
  content: "\e908";
  color: #fff;
}
.icon-lab:before {
  content: "\e909";
  color: #fff;
}
.icon-like:before {
  content: "\e90a";
  color: #fff;
}
.icon-params:before {
  content: "\e90b";
}
.icon-shape-1:before {
  content: "\e90c";
  color: #fff;
}
.icon-shape-3:before {
  content: "\e90d";
  color: #fff;
}
.icon-slideshow:before {
  content: "\e90e";
  color: #fff;
}
.icon-star:before {
  content: "\e90f";
}
.icon-user:before {
  content: "\e910";
  color: #fff;
}
.icon-world:before {
  content: "\e911";
}
