body {
	color: #4d4d4d;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 16px;
	line-height: 1;
}
.wrapper {
	max-width: 1250px;
	width: 100%;
	margin: 0 auto;
	padding: 0 40px;
}
h1 {
color: #ffffff;
font-size: 45px;
font-weight: 300;
text-transform: uppercase;
line-height: 60px;
margin-bottom: 90px;
}
h1 .lg {
	display: block;
	font-size: 70px;
	font-weight: 700;
	line-height: 80px;letter-spacing: -3px;
}
h1 .sm{
	font-size: 40px;
	font-weight: 300;
	line-height: 60px;
}
h2 {
	color: #0d0d0d;
	font-size: 30px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
}
h6 {
	font-size: 20px;
	font-weight: bold;
	color: #0d0d0d;
	text-transform: uppercase;
}
p {
	line-height: 28px;
}
.hr {
	margin: 120px 0;
	width: 1170px;
	height: 2px;
	background-color: #e6e6e6;
}

/*buttons*/
.btn {
	display: inline-block;
	vertical-align: middle;
	padding: 11PX 35px 0;
	height: 45px;
	border: 2px solid #ffffff;
	background-color: transparent;
	color: #ffffff;
	font-family: "Open Sans" Arial sans-serif;
	font-size: 15px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.btn:hover {
	background-color: #f39c12;
	color: white;
	text-decoration: none;
	border-color: #f39c12;
}
.btn-warning {
	color: #0d0d0d;
	border-color: #f39c12;
}
.btn-sm {
	padding-top: 9px;
	height: 38px;
}
input.btn, button.btn {
	padding-top: 0 !important;
}
.form-field {
	position: relative;
	margin-bottom: 10px;
}
.form-field-icon {
	position: absolute;
	text-align: center;
	width: 20px;
	top:15px;
	right: 30px;
	font-size: 16px;
	color: #808080;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.form-field-icon [class*="icon"]::before {
	color: #808080;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.form-control:focus + .form-field-icon [class*="icon"]::before {
	color: #f39c12;
}
.form-control {
	display: block;
	padding: 0 70px 0 25px;
	width: 100%;
	height: 45px;
	border: 2px solid #d9d9d9;
	background-color: #ffffff;
	color: #808080;
	font-family: "open Sans";
	font-size: 15px;
	font-weight: 400;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.form-control:focus {
	border-color: #f39c12;
}
.form-control:focus + .form-field-icon {
	color: #f39c12;
}

textarea.form-control {
	min-height: 125px;
	resize: none;
	padding-top: 10px;
}
.header-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
header {
	position: absolute;
	top: 84px;
	left: 0;
	right: 0;
	z-index: 99;

}
.logo a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 150px;
	height: 150px;
	border: 2px solid #ffffff;
	border-radius: 50%;
	color: #ffffff;
	font-family: "Montserra" sans-serif;
	font-size: 45px;
	font-weight: 700;
	line-height: 45px;
	text-transform: uppercase;
}
.menu {
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.menu_item {
	margin-left: 90px;
	position: relative;
}
.menu_item::after{
	content: '\\\\';
	position: absolute;
	top: 0;
	left: 100%;
	margin-left: 40px;
	color: #ffffff;
	font-size: 18px;
	font-weight: 400;
}
.menu_item:last-child:after {
	display: none;
}
.menu_link {
	color: #ffffff;
	font-size: 18px;
	font-weight: 400;
	line-height: 20px;
	text-transform: uppercase;
}
.menu_link:hover {
	color: #0d0d0d;
}
.banner {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	text-align: center;
	height: calc(100vh + 100px);
	overflow: hidden;
	padding-top: 70px;
	background: url("../img/banner.png") no-repeat  center top;
	background-size: cover;
}
.banner::after {
	position: absolute;
	bottom: 0;
	left: 0;
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-bottom: 100px solid #fff;
	border-left: 100vw solid transparent;
}
.banner-slider .slick-dots {
	margin-top: 80px;
}
.testimonial-slider .slick-dots {
	margin-top: 26px;
}
.heading {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 0 auto 150px;
}
.heading h2 {
	-webkit-box-flex: 0;
	    -ms-flex: none;
	        flex: none;
	text-align: right;
	width: 200px;
	position: relative;
	margin-right: 40px;
}
.heading h2:after {
	content: '';
	display: block;
	width: 4px;
	height: 45px;
	background-color: #f39c12;
	position: absolute;
	left: 100%;
	margin-left: 20px;
	top: 50%;
	margin-top: -22px;
}
.heading p {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	color: #4d4d4d;
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;
	text-transform: uppercase;

}
.about-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}
.about-wrap .about-wrap-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}
.about-wrap .about-wrap-content .about-wrap-content_icon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 125px;
	height: 125px;
	font-size: 40px;
	color: #0d0d0d;
	border: 2px solid #f39c12;
	border-radius: 50%;
	-webkit-box-flex: 0;
	    -ms-flex: none;
	        flex: none;
	margin-right: 29px;
}
.about-wrap .about-wrap-content h6 {
	font-size: 20px;
	font-weight: bold;
	color: #0d0d0d;
	text-transform: uppercase;
	margin-bottom: 25px;
}
.about-wrap .about-wrap-content p {
	color: #737373;
	font-size: 16px;
	line-height: 25px;
}
.about-wrap .about-wrap-content p> span.other {
	color: #595959;
	font-size: 15px;
	font-weight: 400;
	line-height: 28px;
}
.about-wrap .about-wrap-content p.red_text {
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 35px;
	color: #e74c3c;
}
.about-wrap-img {
	margin-left: 60px;
	position: relative;
}
.about-wrap-img img {
	width: 100%;
	display: block;
}
.about-wrap-img_icon {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	font-size: 32px;
}
.box-skills {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.box-skills .about-wrap-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}
.box-skills .about-wrap-content .about-wrap-content_icon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 125px;
	height: 125px;
	font-size: 40px;
	color: #0d0d0d;
	border: 2px solid #f39c12;
	border-radius: 50%;
	-webkit-box-flex: 0;
	    -ms-flex: none;
	        flex: none;
	margin-right: 29px;
}
.box-skills .about-wrap-content h6 {
	font-size: 20px;
	font-weight: bold;
	color: #0d0d0d;
	text-transform: uppercase;
	margin-bottom: 25px;
}
.box-skills .about-wrap-content p {
	font-size: 15px;
	line-height: 25px;
	color: #b3b3b3;
}
.box-skills-item {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}
.box-skills-item-img {
	padding-right: 40px;
	text-align: right;
}
.box-skills-item-content {
	padding-left: 40px;

}
.box-skills-item-img img {
	display: inline-block;
	max-width: 100%;
}
/*BARS*/
.box-bars {
	margin-top: 60px;
}
.bars {
	margin-bottom: 40px;
}
.bars_title {
	font-size: 16px;
	line-height: 22px;
	text-transform: uppercase;
	color: #0d0d0d;
	font-weight: 600;
	margin-bottom: 10px;
}
.bars_title  span{
	color: #bfbfbf;
	font-weight: 600;
}
.bars_title  span.procent {
	color: #0d0d0d;
	font-weight: 300;
}
.bars-line {
	background: #e6e5e3;
	height: 10px;
}
.bars-line >div {
	background-color: #f39c12;
	background-image: -webkit-gradient(linear, left top, right top, from(#f39c12), color-stop(88%, #e6e6e6), to(#e6e6e6));
	background-image: linear-gradient(to right, #f39c12 0%, #e6e6e6 88%, #e6e6e6 100%);
	height: 10px;
}
.section {
	padding: 104px 0 100px;
}
.section-bg {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 700px;
	background: url("../img/section-bg.png") no-repeat center top;
	background-size: cover;
	padding: 100px 0;
}
.quote {
	text-align: center;
	color: #fff;
}
.quote_text {
	font-size: 45px;
	font-weight: 700;
	line-height: 60px;
	position: relative;
	padding: 0 70px;
	padding-bottom: 33px;
}
.quote_text:after, .quote_text:before {
	content: '"';
	display: block;
	position: absolute;
	top: 0;
	color: #ffffff;
	font-size: 110px;
	font-weight: 700;
	line-height: 60px;
}
.quote_text:before {
	left: 0;
}
.quote_text:after {
	right: 0;
}
.quote_author {
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
}
.quote_author::before {
	content: '';
	display: block;
	width: 50px;
	margin: 0 auto 20px;
	height: 4px;
	background-color: #f39c12;
}
/**/
.team-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	/* -ms-flex-wrap: wrap;
	    flex-wrap: wrap; */
}

.team-list-item {
	width: 269px;
	padding: 25px 15px 30px;
	border-top: 4px solid transparent;
	text-align: center;
}
.team-list-item p {
	color: #7c7c7c;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	margin-bottom: 25px;
}
.team-list-item:hover {
	background-color: #f0f0f0;
	border-color: #f39c12;
}
.team-list-item:hover .team-list-job::after {
	background-color: #e74c3c;
}
.social-link:hover {
	color: #f39c12;
}
.team-list-img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	font-size: 62px;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	border: 6px solid #f2f2f2;
	background-color: #e8f8f4;
	position: relative;
	margin: 0 auto 25px;
}
.team-list-img::after {
	content: '';
	display: block;
	position: absolute;
	border-radius: 50%;
	width: 202px;
	height: 202px;
	border: 1px solid #e6e6e6;
}
.team-list-job {
	color: #999999;
	font-family: 'Lato' sans-serif;
	font-size: 15px;
	font-weight: 400;
}
.team-list-job::after {
	content: '';
	display: block;
	margin: 12px auto 15px;
	width: 20px;
	height: 4px;
	background-color: #cccccc;
}
.social-link {
	color: #999999;
	font-size: 20px;
	vertical-align: middle;
	display: inline-block;
	margin-right: 12px;
}
.social-link:last-child {
	margin-right: 0;
}
.fact-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.fact-list-item:hover .fact-list-icon {
	border-color: #fff;
}
.fact-list-item:hover [class*="icon"]::before {
	color:  #f39c12;

}
.fact-list-item h5{
	text-align: center;
	color: #ffffff;
	line-height: 29px;
	font-size: 20px;
	font-weight: 700;
}
.fact-list-item span {
	display: block;
	font-size: 45px;
	line-height: 45px;
}
.fact-list-icon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	font-size: 28px;
	width: 170px;
	height: 170px;
	border: 2px solid #f39c12;
	border-radius: 50%;
	margin-bottom: 30px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.fact-list-icon [class*="icon"]::before {
	color: white;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.services-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-align: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin: 0 -15px;
}
.services-list-icon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	font-size: 27px;
	width: 105px;
	height: 105px;
	border: 2px solid #f39c12;
	border-radius: 50%;
	margin: 0 auto 30px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.services-list-item{
	padding: 0 15px
}
.services-list-item h6 {
	margin-bottom: 25px;
}
.services-list-item p{
	color: #737373;
	font-size: 16px;
	line-height: 24px;
}
.services-list-icon [class*="icon"]:before {
	color: #0d0d0d;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.services-list-item:hover  .services-list-icon{
	background-color: #f39c12;
}
.services-list-item:hover [class*="icon"]:before  {
	color: #ffffff;
}
.box-pricing {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
}
.box-pricing .services-list-item p {
	color: #737373;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
}
.box-pricing .services-list-icon {
	margin-left: 0;
	height: 125px;
	width: 125px;
	font-size: 32px;
}
.pricing{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-align: center;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	margin-left: 4%;
}
.pricing-item {
	width: 250px;
	border:1px solid #e6e6e6;
}
.pricing-item:first-child {
	margin-top: 17px;
	border-right: none;
}
.pricing-item:last-child {
	margin-top: 17px;
	border-left: none;
}
.pricing-header {
	padding: 25px 28px;
}
.pricing-item.active .pricing-header {
	background-color: #f39c12;
}
.pricing-header-title {
	color: #0d0d0d;
	font-size: 22px;
	font-weight: 700;
	line-height: 25px;
	text-transform: uppercase;
}
.pricing-item.active .pricing-header-title {
	color: white;
}
.pricing-header-title span:before {
	content: '';
	display: block;
	width: 50px;
	height: 2px;
	background-color: #f39c12;
	margin: 5px auto;
}
.pricing-item.active .pricing-header-title span:before {
	background-color: #fff;
}
.pricing-list {
	list-style: none;
}
.pricing-list li {
	color: #737373;
	font-size: 15px;
	line-height: 18px;
	padding: 15px;
	border-top: 1px solid #e6e6e6;
}
.pricing-list li:last-child {
	border-bottom: 1px solid #e6e6e6;
}
.pricing-list li:nth-child(odd){
	background-color: #fafafa;
}
.pricing-item.active .pricing-list li:nth-child(odd) {
	background-color: #e6e6e6;
}
.pricing-footer {
	padding: 34px 28px;
}
.pricing-item.active .pricing-footer{
	background-color: #e6e6e6;
}
.pricing-footer .btn {
	height: 38px;
	padding: 9px 33px 0;
}
.pricing-item.active .pricing-footer .btn {
	color: #fff;
	background-color: #f39c12;
}
.pricing-item.active {
	color: white;
	border-left: none;
	border-right: none;
	border-top: 17px solid #f39c12;
	border-bottom:  11px solid #e6e6e6;
	background-color: #f2f2f2;
}
.testimonial {
	text-align: center;
	color: #fff;
}
.testimonial .quote_author::before {
	display: none;
}
.testimonial .quote_author::after {
	content: '';
	display: block;
	width: 50px;
	margin: 20px auto 0;
	height: 4px;
	background-color: #f39c12;
}
.testimonial-text {
	margin: 35px 0 25px;
	color: #ffffff;
	font-family: "Open Sans Light";
	font-size: 22px;
	font-weight: 300;
	font-style: italic;
	line-height: 30px;
}
.testimonial-avatar {
	width: 100px;
	height: 100px;
	margin: 0 auto;;
	border-radius: 50%;
	overflow: hidden;
}
.testimonial-avatar img {
	display: block;
	width: 100%;
}
.nav-tab-list {
	list-style: none;
	text-align: center;
	margin-bottom: 80px;
}
.nav-tab-list-item {
	display: inline-block;
}
.nav-tab-list-item.active .nav-tab-list-link {
	color: #f39c12;
}
.nav-tab-list-link {
	color: #0d0d0d;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 700;
	line-height: 25px;
	text-transform: uppercase;
}
.nav-tab-list-item:after {
	content: "\\\\";
	display:inline-block;
	vertical-align: middle;
	font-size: 14px;
	font-weight: 700;
	line-height: 25px;
	color: #a6a6a6;
	margin: 0 18px;
}
.nav-tab-list-item:last-child:after {
	display: none;
}
.nav-tab-list-link:hover {
	color: #f39c12;
}

.hide {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: 0;
	width: 0;
	overflow: hidden;
	z-index: -1;
	opacity:0;
}
.tab-cont {
	opacity: 1;
	-webkit-transition: opacity 1.4s;
	transition: opacity 1.4s;
}
.tab-cont .hide {
	opacity: 0;
}
.portfolio-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.portfolio-list-item {
	width: 25%;
	position: relative;
}
.portfolio-list-item:nth-child(2) .portfolio-list-img,
.portfolio-list-item:nth-child(4) .portfolio-list-img,
.portfolio-list-item:nth-child(5) .portfolio-list-img,
.portfolio-list-item:nth-child(7) .portfolio-list-img {
	background-color: #b7b7b7;
}
.portfolio-list-item:hover .portfolio-list-preview {
	display: block;
}
.portfolio-list-item:hover .portfolio-list-img [class*="icon"] {
	display: none;
}
.portfolio-list-item:hover .portfolio-list-img  {
	background-color: #fff;
}
.portfolio-list-item:hover .portfolio-list-img img {
	opacity: 0.6;
}
.portfolio-list-item:hover .portfolio-list-title {
	color: #f39c12;
}
.portfolio-list-link {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 2;
}
.portfolio-list-img {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	font-size: 58px;
	height: 220px;
	background-color: #c7c7c7;
}
.portfolio-list-img img {
	opacity: 1;
	display: block;
	width: 100%;
	min-height: 100%;
	-webkit-transition: opacity 1.4s;
	transition: opacity 1.4s;
}
.portfolio-list-footer {
	padding: 20px 10px;
	text-align: center;
}
.portfolio-list-title {
	color: #0d0d0d;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 4px;
}
.portfolio-list-category {
	color: #8c8c8c;
	font-size: 14px;
	font-weight: 400;
}
.portfolio-list-preview {
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	width: 99px;
	height: 99px;
	background: rgba(243, 156, 18, 0.5) url(../img/plus.png) no-repeat center;
	display: none;
	border-radius: 50%;
	z-index: 3;
}
.portfolio-list-preview:hover {
	background-color: rgba(243, 156, 18, 0.8);
}
.portfolio-slider {
	position: relative;
}
.portfolio-slider .slick-dots {
	position: absolute;
	top: 50%;
	right: 20px;
	-webkit-transform: translate(0, -50%);
	        transform: translate(0, -50%);
}
.portfolio-slider .slick-dots li {
	margin: 5px 0;
	display: block;
}
.portfolio-slider-buttons {
	margin-top: 50px;
	margin-bottom: 24px;
	text-align: center;
}
.portfolio-slider-buttons button {
	width: 35px;
	height: 35px;
	border: 2px solid #e6e6e6;
	background-color: #ffffff;
	margin: 0 4px;
}
.portfolio-slider-foooter {
	text-align: center;
}
.portfolio-slider-foooter .portfolio-list-title {
font-size: 20px;
line-height: 24px;
}
.portfolio-slider-show {
	position: relative;
}
.portfolio-slider-show .portfolio-slider-icon{
	content: '';
	position: absolute;
	font-size: 68px;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}
.tweet {
	text-align: center;
	color: #fff;
}
 .tweet-wrap-icon {
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-pack: center;
	     -ms-flex-pack: center;
	         justify-content: center;
	 -webkit-box-align: center;
	     -ms-flex-align: center;
	         align-items: center;
	 width: 100px;
	height: 100px;
	border: 2px solid #ffffff;;
	border-radius: 50%;
	margin: 0 auto;
 }
 .tweet-wrap-icon img {
	 display: block;
 }
.tweet-wrap-text {
	margin: 35px 0 6px;
	color: #ffffff;
	font-size: 22px;
	font-weight: 700;
	line-height: 33px;
}
.tweet-wrap-text a {
	color: #f39c12;
	font-size: 22px;
	font-weight: 700;
	line-height: 33px;

}
.tweet-wrap-text a:hover {
		text-decoration: underline;
}
.tweet-wrap-time {
	color: #808080;
	font-family: "Open Sans Light";
	font-size: 15px;
	font-weight: 300;
	font-style: italic;
	line-height: 30px;
}
.blog-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin: 0 -30px;
}
.blog-list-item {
	width: calc(50% - 60px);
	margin: 0 30px 60px;
}
.blog-list-link {
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 2;
}

.blog-list-icon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 44px;
	height: 44px;
	background-color: #f39c12;
	font-size: 18px;
	color: #fff;
}
.blog-list-img {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 58px;
	overflow: hidden;
}
.blog-list-img:hover .blog-list-title  {
	color: #f39c12;
}
.blog-list-img img {
	width: 100%;
	display: block;
	min-height: 300px;
}
.blog-list-header {
	position: absolute;
	right: 0;
	bottom: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}
.blog-list-title {
	background: #fff;
	padding: 25px 20px 10px;
}
.blog-list-footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-top: 20px;
}
.blog-list-date {
	text-align: right;
	color: #808080;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: -0.28px;

}
.blog-list-date span {
	display: block;
	white-space: nowrap;
}
.blog-list-info {
	padding: 0 17px 0 40px;
}
.blog-list-info  p {
	color: #595959;
	font-family: "Open Sans";
	font-size: 15px;
	font-weight: 400;
	line-height: 28px;
	padding-bottom: 28px;
}
.blog-list-info .btn {
	height: 36px;
	font-size: 14px;
	padding: 8px 27px 0;

}
.clients h2{
	color: #fff;
	text-align: center;
	margin-bottom: 55px;
}
.clients-list {
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.clients-list-item {
	margin: 0 10px 20px;
	width: 257px;
}
.clients-list-item a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 15px;
	height: 162px;
	border: 2px solid rgba(255, 255, 255, 0.25);
}
.clients-list-item img {
	max-width: 100%;
	max-height: 100%;
	display: block;
}
.clients-list-item a:hover {
	border-color: rgba(255, 255, 255, 0.8);
}
.contact-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.contact-wrap-left {
	width: 53%;
}
.contact-wrap .contact-form {
	padding-top: 9px;
}
.contact-wrap-right {
	-ms-flex-negative: 47%;
	    flex-shrink: 47%;
	width: 47%;
	padding-left: 60px;
}
.contact-wrap h6 {
	margin-bottom: 30px;
}
.contact-wrap p{
	margin-bottom: 35px;
}
.contact-list {
	list-style: none;
}
.contact-list-item {
	position: relative;
	padding-left: 50px;
	color: #0d0d0d;
	line-height: 25px;
	letter-spacing: -0.32px;
	margin-bottom: 18px;
}
.contact-list-item a {
	color: #0d0d0d;
}
.contact-list-item a:hover {
	text-decoration: underline;
	color: red;
}
.contact-list-icon {
	position: absolute;
	left: 0;
	top: -4px;
	width: 34px;
	height: 34px;
	border: 2px solid #f39c12;
	border-radius: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
#map {
	overflow: hidden;
	position: relative;
}
#map:after, #map:before {
		position: absolute;
		bottom: 0;
		left: 0;
		content: '';
		display: block;
		width: 0;
		height: 0;
		border-bottom: 100px solid #fff;
		border-left: 100vw solid transparent;
}
#map:before {
	top: 0;
	right: 0;
	-webkit-transform: rotate(180deg);
	        transform: rotate(180deg);
}
.fotter-flex {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-top: 40px;
	padding-bottom: 40px;
}
.fotter-flex .social {
	margin-left: auto;
}
.fotter-flex .social-link {
	color: #0d0d0d;
}
.fotter-flex .social-link:hover {
	color: #f39c12;
}
.copyright {
	color: #0d0d0d;
	font-weight: 600;
	line-height: 18px;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}
.menu-togle {
	display: none;
}


@media (max-height:860px) {
	header {
		top: 40px;
	}
	.banner {
		min-height: 800px;
	}
}
@media (max-width: 1199px) {
	header {
		top: 40px;
	}
	h1, h1 .sm {
		font-size: 38px;
		line-height: 45px;
		margin-bottom: 50px;
	}
	h1 .lg {
		font-size: 50px;
		line-height: 66px;
	}
	.banner-slider .slick-dots {
		margin-top: 50px;
	}
	.logo a {
		height: 120px;
		width: 120px;
		font-size: 34px;
		line-height: 34px;
	}
	.menu_item {
		margin-left: 54px;
	}
	.menu_item::after {
		margin-left: 20px;
	}
	.heading {
		margin-bottom: 110px;
	}
	.heading h2 {
		width: auto;
	}
	.heading p {
		font-size: 14px;
		line-height: 18px;
	}
	.about-wrap-img {
		max-width: 40%;
		margin-left: 40px;
	}
	.box-skills-item-img {
		width: 44%;
		-webkit-box-flex: 0;
		    -ms-flex: none;
		        flex: none;
	}
	.section-bg {
		height: auto;
		min-height: 550px;
	}
	.quote_text {
		font-size: 35px;
		line-height: 50px;
	}
	.team-list {
		flex-wrap: nowrap;
	}
	.team-list-img {
		height: 150px;
		width: 150px;
	}
	.team-list-img::after {
	height: 152px;
	width: 152px;
	}
	.team-list-item p {
		font-size: 14px;
		line-height: 22px;
	}
	.pricing {
		margin-left: 3%;
	}
	.pricing-item {
		width: 210px;
	}
	.clients-list-item a {
		height: 130px;
	}
	.blog-list{
		margin: 0 -15px;
	}
	.blog-list-item {
		margin: 0 -20px 30px;
	}
	.blog-list {

		margin: 0 -20px;
	}
	.blog-list-item {
		width: calc(50% - 40px);
		margin: 0 20px 40px;
	}
	.blog-list-title {
		font-size: 18px;
		padding: 20px 20px 15px;
	}
	.blog-list-info {
		padding-left: 25px;
		padding-right: 0;
	}
}
@media (min-width: 992px) {
	.menu {
		display: flex !important;
	}
	 .menu-toggle {
		display: none;
	}
}
@media (max-width: 992px) {
	.menu-toggle {
		display: inline-block;
		border: none;
		background-color: transparent;
		padding: 0;
		width: 37px;
	}
	.menu-toggle span {
		display: block;
		height: 3px;
		background: #fff;
	}
	.menu-toggle span + span {
		margin-top: 8px;
	}
	.navigation {
		position:relative;
	}
	.menu {
		display: none;
		position: absolute;
		top: 100%;
		margin-top: 20px;
		right: 0;
		padding: 10px 0;
		background: rgba(0, 0, 0, 0.7);
		min-width: 200px;
	}
	.menu_item {
		margin-left: 0;
		position: static;
	}
	.menu_link {
		display: block;
		padding: 10px 20px;
	}
	.menu_link:hover {
		color: #eeee;
	}
	.menu_item::after {
		display: none;
	}
	.section {
		padding: 70px 0;
	}
	.hr {
		width: auto;
		margin: 80px 0;
	}
	.about-wrap, .box-skills {
		display: block;
	}
	.about-wrap-img {
		margin: 40px auto;
		max-width: 80%;
	}
	.about-wrap-img img {
		width: 100%;
	}
	.box-skills-item-img {
		margin: 0 auto 40px;
		width: auto;
		padding-right: 0;
		text-align: center;
	}
	.box-skills-item-content {
		padding-left: 0;
	}
	.box-skills-item {
		width: auto;
	}
	.section-bg {
		min-height: 400px;
	}
	.banner {
		height: auto;
		min-height: 768px;
	}
	.quote_author::before {
		margin-bottom: 18px;
	}
	.quote_author {
		font-size: 19px;
		line-height: 25px;
	}
	.quote_text {
		font-size: 30px;
		padding-bottom: 25px;
		line-height: 42px;
	}
	.quote_text::after, .quote_text::before {
		font-size: 91px;
	}
	.team-list {
		flex-wrap: wrap;
	}
	.team-list-item {
		width: 50%;
	}
	.fact-list-icon {
		width: 140px;
		height: 140px;
		margin-bottom: 20px;
	}
	.fact-list h5 {
		font-size: 20px;
		line-height: 24px;
	}
	.fact-list h5 span {
		font-size: 35px;
		line-height: 42px;
	}
	.services-list {
		margin: 0 -10px;
	}
	.services-list-item {
	padding: 0 10px;
	}
	.services-list-item p, .contact-wrap p, .contact-list-item {
		font-size: 14px;
		line-height: 22px;
	}
	.box-pricing {
		display: block;
	}
	.box-pricing .services-list-item {
		text-align: center;
		max-width: 80%;
		margin: 0 auto 20px;
	}
	.box-pricing .services-list-icon {
		margin-left: auto;
	}
	.pricing {
		margin-left: 0;
	}
	.pricing-item {
		width: auto;
		flex: 1;
	}
	.contact-wrap-right {
		padding-left: 30px;
	}
	.clients-list-item a {
		height: 115px;
	}
	.fotter-flex {
		flex-direction: column;
	}
	.fotter-flex .social {
		margin-bottom: 10px;
		margin-left: 0;
	}
	.copyright {
		order: 1;
		text-align: center;
	}
	.portfolio-list-item {
		width: 33.33%;
	}
	.nav-tab-list {
		margin-bottom: 40px;
	}
	.nav-tab-list-item {
		margin: 0 10px;
	}
	.nav-tab-list-item::after {
		display: none;
	}
	.blog-list-img {
		display: block;
	}
	.blog-list-icon {
		position: absolute;
		left: 0;
		top: 0;
	}
	.blog-list-title {
		line-height: 25px;
		text-align: center;
		margin: 0 auto;
		padding-left: 0;
		padding-right: 0;
	}
	.blog-list-header{
		position: static;
	}
	.blog-list-footer {
		display: block;
	}

	.blog-list-info {
		padding-left: 0;
	}
	.blog-list-info a.btn {
		justify-content: center;
		width: 120px;
	    display: block;
		margin: 0 auto;
	}
	.blog-list-date {
		text-align: left;
		margin-bottom: 10px;
	}
	.blog-list-date span {
		display: inline-block;
		margin-right: 10px;
	}
	.blog-list-date span:last-child {
		margin-right: 0;
	}
}
@media (max-width: 767px) {
	.banner {
		min-height: 1px;
		height: auto;
		padding: 145px 0 100px;
	}
	.banner::after {
		display: none;
	}
	.banner-slider .slick-dots {
		margin-top: 30px;

	}
	header {
		top: 20px;
	}
	h1, h1 .sm {
		font-size: 20px;
		line-height: 28px;
	}
	h1 .lg {
		font-size: 32px;
		line-height: 40px;
	}
	.logo a {
		height: 80px;
		width: 80px;
		font-size: 20px;
		line-height: 20px;
	}
	.wrapper {
		padding-left: 20px;
		padding-right: 20px;
	}
	.section {
		padding: 60px 0;
	}
	.hr {
		margin: 45px 0;
	}
	.heading {
		display: block;
		margin-bottom: 50px;
	}
	.heading p {
		display: none;
	}
	.heading h2 {
		margin-right: 0;
		text-align: center;
	}
	.heading h2::after {
		position: static;
		margin: 10px auto 0;
		width: 45px;
		height: 4px;
	}
	.about-wrap .about-wrap-content, .box-skills-item-content .about-wrap-content {
		display: block;
		text-align:center;
	}
	.about-wrap .about-wrap-content .about-wrap-content_icon, .box-skills-item-content .about-wrap-content .about-wrap-content_icon {
		margin: 0 auto 30px;
	}
	.about-wrap .about-wrap-img {
		max-width: 100%;
	}
	.section {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.section-bg {
		padding-top: 60px;
		padding-bottom: 60px;
		min-height: 200px;
		background-image: none;
		background-color: #2b2a2a;
	}

	.quote_author::before {
		margin-bottom: 15px;
	}
	.quote_author {
		font-size: 16px;
		line-height: 20px;
	}
	.quote_text {
		font-size: 22px;
		padding-bottom:15px;
		line-height: 28px;
		padding: 0 40px 20px;
	}
	.quote_text::after, .quote_text::before {
		font-size: 70px;
	}
	.social-link {
		margin-right: 9px;
	}
	.fact-list {
		flex-wrap: wrap;
		justify-content: center;
	}
	.fact-list-item {
		width: 50%;
		margin-bottom: 20px
	}
	.fact-list-icon {
		margin: 0 auto 15px;
	}
	.services-list {
		display: block;
	}
	.services-list-item, .box-pricing .services-list-item  {
		margin: 0 auto 40px;
		max-width: 420px;
	}
	.pricing {
		display: block;
		margin: 0 auto;
		max-width: 420px;
	}
	.pricing-item:first-child {
		border-right: 1px solid #e6e6e6;
		margin-top: 0;
	}
	.pricing-item:last-child {
		border-left: 1px solid #e6e6e6;
		margin-top: 0;
	}
	.testimonial-text {
		font-size: 18px;
		line-height: 24px;
	}
	.contact-wrap {
		display: block;
	}
	.contact-wrap-left {
		width: auto;
		margin-bottom: 40px;
	}
	.contact-wrap-right {
		padding-left: 0;
		width: auto;
	}
	.clients-list {
		text-align: center;
		display: block;
	}
	.clients-list-item {
		vertical-align: top;
		display: inline-block;
		width: 220px;
	}
	.blog-list {
		display: block;
	}
	.blog-list-item {
		width: auto;
	}
	.nav-tab-list-link {
		display: inline-block;
		padding: 10px 30px;
		max-width: 250px;
		min-width: 180px;
		text-align: center;
		border: 2px solid;
		border-radius: 6px;

	}
	.portfolio-list {
		display: block;
	}
	.portfolio-list-item {
		width: auto;
	}
	.nav-tab-list .slick-arrow {
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		z-index: 10;
		width: 35px;
	    height: 35px;
	    border: 2px solid #e6e6e6;
	    background-color: #ffffff;
	    margin: 0 4px;
	}
	.nav-tab-list .slick-next {
		right: 0;
	}
	#map {
		height: 360px;
	}
	#map::before, #map::after {
		display: none;
	}
}
@media (max-width: 479px) {
	.quote_text {
		font-size: 16px;
		line-height: 22px;
		padding: 0;
    	padding-bottom: 15px;
	}
	.quote_text::after, .quote_text::before{
		position: static;
		display: inline-block;
		font-size: 25px;
		line-height: 20px;
	}
	.team-list, .fact-list {
		display: block;
	}
	.team-list-item {
		width: auto;
		border-bottom: 1px solid #eee;
	}
	.fact-list-item {
		width: auto;
	}
}
